* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}

.main-nav {
  display: flex;
  flex: 1;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

a {
  color: #fff;
  text-decoration: none;
}

.p-menu1 {
  height: 100%;
}

/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 340px;
}

/* Menu */
.menu1 {
  width: 100%;
  background-color: #5e96fd;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px "Open Sans", sans-serif;
  color: #fff;
}

.link1:hover {
  background-color: rgb(122, 122, 122);
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.article {
  border-radius: 15px;
  width: 335px;
  height: auto;
  /* margin: 0 auto;
  margin-bottom: 8%; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* flex: 1; */
}

.article:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-title {
  font-weight: 600;
  font-size: 36px;
  margin-top: 10px;
  margin-left: 20px;
}

.article-img {
  width: 335px;
  height: 200px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /* align-self: center; */
}

.article-description {
  display: flex;
  flex: 1;
  justify-content: center;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 12px;
}

ul {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 2%;
}

.icon {
  height: 24px;
  width: 24px;
}

.warning {
  font-size: 11px;
  list-style: none;
  margin-top: 10px;
}

.footer {
  font-size: 14px;
  justify-content: center;
  display: flex;
  flex: 1;
}

.tests {
  display: flex;
  margin-top: 10%;
  margin-bottom: 15%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
